<ion-header>
  <ion-navbar>
    <ion-title>Rendicion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>Welcome to rendicion!</h2>

   <ion-card *ngIf="rendicion">

    <ion-item>
      <ion-label >{{rendicion.description}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Gastos Ingresados: </ion-label>
    </ion-item>

    <ion-card-content>

      <ion-list *ngFor="let rax of rendicion.gastos">
          <ion-item class="item">
              <ion-label>Ceco:</ion-label>
              <ion-label item-right>{{rax.ceco}}</ion-label>
          </ion-item>
          
          <ion-item class="item">
              <ion-label>Concepto:</ion-label>
              <ion-label item-right>{{rax.concepto}}</ion-label>
          </ion-item>

          <ion-item class="item">
              <ion-label>Descripción:</ion-label>
              <ion-label item-right>{{rax.descripcion}}</ion-label>
          </ion-item>

          <ion-item class="item">
              <ion-label>Fecha:</ion-label>
              <ion-label item-right>{{rax.fecha}}</ion-label>
          </ion-item>

          <ion-item class="item">
              <ion-label>Monto:</ion-label>
              <ion-label item-right>{{rax.monto}}</ion-label>
          </ion-item>

          <ion-item class="item">
              <ion-label>OI:</ion-label>
              <ion-label item-right>{{rax.oi}}</ion-label>
          </ion-item>
      </ion-list>
      <button danger button button-medium (click)="goToRechazo()">
        <ion-icon name="ios-close-circle"></ion-icon>
        Devolver
      </button>
      <button button item-right (click)="evaluate($event)">
        <ion-icon name="checkmark-circle"></ion-icon>
        Elevar
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
